#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(96 108 93);
}

.homeLogo{
  width: 60%;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
}
